/*
    hi
    this is the stylesheet
    NOT the theme
    to change colors/roundness edit the files in /src/content/static/themes
    thank =)

    (still waiting for hakita to release fraud)
*/

/* world's greatest import */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* elements */

body {
    background: var(--bg);
    color: var(--fg);
    font-family: "Noto Sans", sans-serif;
}

button {
    background: var(--secondary);
    border: none;
    border-radius: var(--button-roundness);
    box-shadow: 0 .125rem 1rem var(--button-shadow),
        0 .0625rem .25rem var(--button-shadow),
        inset 0 -.125rem .125rem var(--button-inner-shadow),
        inset 0 .125rem .125rem var(--button-highlight),
        inset 0 .0625rem .0625rem var(--button-top-highlight);
    cursor: pointer;
    transition: transform ease-in-out calc(.125s * var(--motion-factor));
}

button.navbar-button {
    width: 2rem;
    height: 2rem;
    border-radius: var(--button-roundness);
    color: var(--fg);
    border: none;
    margin: .125rem;
}

button:hover {
    transform: scale(112%);
}

input {
    background: var(--secondary);
    border: none;
    border-radius: var(--button-roundness);
    box-shadow: 0 .125rem 1rem var(--button-shadow),
        0 .0625rem .25rem var(--button-shadow),
        inset 0 -.125rem .125rem var(--button-inner-shadow),
        inset 0 .125rem .125rem var(--button-highlight),
        inset 0 .0625rem .0625rem var(--button-top-highlight);
    transition: transform ease-in-out calc(.125s * var(--motion-factor));
    font-size: .875rem;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
}

h1 {
    margin: .125rem;
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    margin: .125rem;
    font-size: 1.25rem;
    font-weight: 700;
}
h3 {
    margin: .0625rem;
    font-size: 1.125rem;
    font-weight: 700;
}
h4 {
    margin: .0625rem;
    font-size: 1.125rem;
    font-weight: 700;
}

p {
    margin: .125rem .0625rem;
    font-size: 1rem;
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: .0625rem solid var(--accent);
}

textarea {
    background: var(--panel-bg);
    border-radius: var(--button-roundness);
    margin: 0 0 .5rem 0;
    padding: .5rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 .125rem 1rem var(--panel-shadow),
        0 .0625rem .25rem var(--panel-shadow),
        inset 0 -.25rem .5rem var(--panel-inner-shadow),
        inset 0 .25rem .375rem var(--panel-highlight),
        inset 0 .0625rem .0625rem var(--panel-top-highlight);
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem; /* wow, accessibility */
    resize: vertical;
    width: 100%;
    height: 4rem;
    outline: none;
    border: none;
}

/* generic classes */

.panel {
    background: var(--panel-bg);
    border-radius: var(--panel-roundness);
    margin: .375rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 .125rem 1rem var(--panel-shadow),
        0 .0625rem .25rem var(--panel-shadow),
        inset 0 -.25rem .5rem var(--panel-inner-shadow),
        inset 0 .25rem .375rem var(--panel-highlight),
        inset 0 .0625rem .0625rem var(--panel-top-highlight);
}
.center-align {
    margin: 0 auto;
    width: min(100%, 50rem);
    box-sizing: border-box;
    padding: .375rem;
}
.but-small {
    font-size: .875rem;
    margin-bottom: .5rem;
}
.primary {
    background: var(--primary);
}
.modal-button {
    width: 8rem;
    height: 2rem;
}

.panel.translucent {
    background: var(--panel-translucent-bg);
    backdrop-filter: blur(1.5rem);
}

/* whatever the hell a "triple toggle" is (it's a toggle box BUT three) */

.triple-toggle {
    overflow: hidden;
    display: grid;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--secondary);
    border: none;
    border-radius: var(--button-roundness);
    box-shadow: 0 .125rem 1rem var(--button-shadow),
        0 .0625rem .25rem var(--button-shadow),
        inset 0 -.125rem .125rem var(--button-inner-shadow),
        inset 0 .125rem .125rem var(--button-highlight),
        inset 0 .0625rem .0625rem var(--button-top-highlight);
    cursor: pointer;
    transition: transform ease-in-out calc(.125s * var(--motion-factor));
    justify-content: left;
    grid-auto-flow: column;
    gap: 0;
}
.triple-toggle button {
    width: 2rem;
    height: 2rem;
    box-shadow: none;
    background: none;
    margin: 0;
    padding: .25rem;
    transition: background-color linear calc(.125s * var(--motion-factor)),
                opacity linear calc(.125s * var(--motion-factor));
}
.triple-toggle button.positive {
    background: var(--positive-bg);
}
.triple-toggle button.negative {
    background: var(--negative-bg);
}
.triple-toggle button.neutral {
    background: var(--neutral-alt-bg);
}
.no-bg {
    background: none !important;
    opacity: 75%;
}

/* just the entire homepage style */

#map-navbar {
    position: absolute;
    left: calc(100% - 1rem);
    top: calc(100% - 2.5rem); /* maplibre watermark */
    padding: .125rem;
    transform: translate(-100%, -100%);
}
#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
#map-drop {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#map-drop-pin {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7rem;
    height: 7rem;
    transform: translate(-50%, -50%);
}
#map-drop-lower {
    pointer-events: all;
    position: absolute;
    left: 50%;
    top: calc(50% + 3rem);
    text-align: center;
    transform: translate(-50%, 0);
}

.marker {
    pointer-events: none;
    width: 4rem;
    height: 4rem;
}
.marker button {
    pointer-events: all;
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 50%;
}

/* location page */

#loc-ratings {
    width: 16rem;
}
#loc-return {
    width: 2rem;
    height: 2rem;
}
#loc-title-outer {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: start;
    gap: .5rem;
}

.rating {
    display: grid;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    grid-auto-flow: column;
}
.note {
    padding: 0 0 .125rem 0;
    font-size: .875rem;
}
.note.positive {
    color: var(--positive);
    font-weight: 400;
}
.note.neutral {
    color: var(--neutral);
    font-weight: 400;
}
.note.negative {
    color: var(--negative);
    font-weight: 600;
}

.review {
    display: grid;
    justify-content: left;
    align-content: start;
    gap: 1rem;
    grid-auto-flow: column;
    margin: .5rem 0 1rem 0;
}
.review img { /* pfp */
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .125rem 1rem var(--panel-shadow), 0 .0625rem .25rem var(--panel-shadow);
    object-fit: cover;
}
.sender {
    font-size: 1.0625rem;
    font-weight: 600;
}

/* icons */

img.icon.full {
    width: 100%;
    height: 100%;
}

span.icon {
    position: relative;
    display: inline-block;
    background: var(--fg);
    margin: 0;
    padding: 0;
}
span.icon.full {
    width: 100%;
    height: 100%;
}

span.icon.list {
    -webkit-mask: url(/src/icon/list.svg) no-repeat center / contain;
            mask: url(/src/icon/list.svg) no-repeat center / contain;
}
span.icon.zoom-in {
    -webkit-mask: url(/src/icon/zoom-in.svg) no-repeat center / contain;
            mask: url(/src/icon/zoom-in.svg) no-repeat center / contain;
}
span.icon.zoom-out {
    -webkit-mask: url(/src/icon/zoom-out.svg) no-repeat center / contain;
            mask: url(/src/icon/zoom-out.svg) no-repeat center / contain;
}
span.icon.back {
    -webkit-mask: url(/src/icon/back.svg) no-repeat center / contain;
            mask: url(/src/icon/back.svg) no-repeat center / contain;
}
span.icon.drop-pin {
    -webkit-mask: url(/src/icon/drop-pin.svg) no-repeat center / contain;
            mask: url(/src/icon/drop-pin.svg) no-repeat center / contain;
}

span.icon.positive {
    background: var(--positive);
    -webkit-mask: url(/src/icon/concur.svg) no-repeat center / contain;
            mask: url(/src/icon/concur.svg) no-repeat center / contain;
}
span.icon.neutral {
    background: var(--neutral-alt);
    -webkit-mask: url(/src/icon/dunno.svg) no-repeat center / contain;
            mask: url(/src/icon/dunno.svg) no-repeat center / contain;
}
span.icon.negative {
    background: var(--negative);
    -webkit-mask: url(/src/icon/reject.svg) no-repeat center / contain;
            mask: url(/src/icon/reject.svg) no-repeat center / contain;
}

span.icon.star-empty {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--star-empty);
    -webkit-mask: url(/src/icon/star-empty.svg) no-repeat center / contain;
            mask: url(/src/icon/star-empty.svg) no-repeat center / contain;
}
span.icon.star-full {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--star-empty);
    -webkit-mask: url(/src/icon/star-full.svg) no-repeat center / contain;
            mask: url(/src/icon/star-full.svg) no-repeat center / contain;
}
span.icon.star-half {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--star-empty);
    -webkit-mask: url(/src/icon/star-half.svg) no-repeat center / contain;
            mask: url(/src/icon/star-half.svg) no-repeat center / contain;
}

/* AAAND media queries */

@media (max-width: 20rem) {
    /* ultra smol */

    #loc-ratings {
        width: min(16rem, 100%);
    }
    .rating {
        grid-auto-flow: row;
        gap: 0;
    }
}
