<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FreePath</title>

        <link rel="stylesheet" href="/src/themes/base.css">
        <link rel="stylesheet" href="/src/style.css">

        <script src="/src/script/mapapi.js"></script>
    </head>
    <body>
        <div class="center-align">
            <div class="panel">
                <!-- the iNfo panel -->
                <!-- this is where the user is info'd -->

                <h1 id="loc-title">Loading</h1>
                <p id="loc-desc"></p>
                <div id="loc-ratings"></div>
            </div>
        </div>

        <script src="/src/script/locview.js"></script>
    </body>
</html>