<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FreePath</title>

        <link rel="stylesheet" href="/src/themes/base.css">
        <link rel="stylesheet" href="/src/style.css">

        <script src="/src/script/mapapi.js"></script>
    </head>
    <body>
        <div class="center-align">
            <div class="panel">
                <!-- the iNfo panel -->
                <!-- this is where the user is info'd -->

                <div id="loc-title-outer">
                    <button id="loc-return">
                        <span class="icon full back"></span>
                    </button>
                    <h1 id="loc-title"></h1>
                </div>
                <hr>
                <h4>Accessibility</h4>
                <div id="loc-ratings"></div>
                <hr>
                <h4>Description</h4>
                <p id="loc-desc"></p>
            </div>
            <div class="panel">
                <h4>Write a Review</h4>
                <textarea id="loc-review-add" placeholder="Type here to add a review..."></textarea>
                <div id="loc-review-after" style="display: none;">egg</div>
                <hr>
                <h4>Reviews</h4>
                <div id="loc-reviews"></div>
            </div>
        </div>

        <script src="/src/script/locview.js"></script>
    </body>
</html>