/*
    hello
    this is a theme
    this is a stylesheet loaded before /src/style.css
    this should ONLY be used to set variables
    thank =)
*/

:root {
    --fg: #0e0e07;
    --bg: #fdfdfa;
    --primary: #abab5e;
    --secondary: #b8cea2;
    --accent: #99bd81;
    
    --panel-bg: #dae7ce;
    --panel-shadow: #000000a1;
    --panel-roundness: .625rem;
    --panel-button-roundness: .5rem;
}
