/*
    hello
    this is a theme
    this is a stylesheet loaded before /src/content/style.css
    this should ONLY be used to set variables
    thank =)
*/

:root {
    --fg: #0e0e07;
    --bg: #fdfdfa;
    --primary: #abab5e;
    --secondary: #b8cea2;
    --accent: #99bd81;
    
    --panel-bg: #dae7ce;
    --panel-translucent-bg: #dae7ce6a;
    --panel-shadow: #000000a1;
    --panel-inner-shadow: #00000040;
    --panel-highlight: #ffffff1d;
    --panel-top-highlight: #ffffff24;
    --panel-roundness: .625rem;
    
    --button-roundness: .5rem;
    --button-shadow: #000000a1;
    --button-inner-shadow: #0000001a;
    --button-highlight: #ffffff1d;
    --button-top-highlight: #ffffff24;

    --star-empty: #303030;

    --positive: #21542e;
    --neutral: #543124;
    --negative: #542d2d;
    --neutral-alt: #454545;

    --positive-bg: #a3ffaa;
    --neutral-bg: #ffcda3;
    --negative-bg: #ffa9a9;
    --neutral-alt-bg: #a7a7a7;

    --link: #055481;
    --link-visited: #551181;

    --motion-factor: 1;
}
